* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f7f7f7;
}

a {
    text-decoration: none;
    color: inherit;
}

.hidden {
    display: none;
}

.navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*outline: 1px solid red;*/
    padding: 1rem 2rem;
    background-color: white;
    position: relative;
}

.navbar-toggle {
    right: 1rem;
    position: absolute;
    display: block;
    outline: 1px solid blue;
    cursor: pointer;
    height: 1rem;
    width: 2rem;
    top: 1rem;
}

.navbar-toggle::before,
.navbar-toggle::after {
    content: "";
    position: absolute;
    height: 4px;
    width: 2rem;
    background-color: black;
}

.navbar-toggle::after {
    top: 100%;
}

.navbar ul {
    list-style: none;
}
.navbar-logo {
    height: 5rem;
    width: max-content;
}

.navbar-logo.logo-large {
    display: block;
}

.navbar-logo.logo-mark {
    display: none;
}

.navbar-group {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    /*outline: 1px solid red;*/
    padding: 1rem 0;
}

.navbar-group.navbar-expand {
    display: flex ;
}

.navbar-item {
    padding: 0.3rem;
    /*outline: 1px solid red;*/
    position: relative;
    text-wrap: nowrap;
    cursor: pointer;
    border-bottom: 1px solid transparent;
    width: fit-content;
}

.navbar-item:hover {
    border-bottom: 1px solid red;
}

.navbar .navbar-down {
    position: relative;
    top: 100%;
    left: 0;
    background-color: white;
    padding: 1rem;
    z-index: 10;
}

@keyframes menuReveal {
    from {
        transform: translateY(-0.5rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.navbar .navbar-action {
    display: none;
}

.navbar .navbar-action button {
    border: 1px solid black;
    background: none;
    padding: 0.5rem 1rem ;
    cursor: pointer;
    transition: all 200ms;
}

.navbar .navbar-action button:hover {
    box-shadow:  5px 5px 0 black;
    transform: translate(-5px, -5px);
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        background-color: red;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        background-color: blue;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background-color: green;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 2rem;
    }

    .navbar .navbar-group {
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .navbar .navbar-down {
        position: absolute;
        display: none;
        border: 1px solid gray;
        box-shadow: 5px 5px 0 black;
    }

    .navbar .navbar-action {
        display: inherit;
    }

    .navbar-down.navbar-expand {
        display: block;
        animation: menuReveal 200ms linear;
    }

    .navbar-logo.logo-large {
        display: none;
    }
    
    .navbar-logo.logo-mark {
        display: block;
    }

    .navbar-toggle {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        background-color: inherit;
    }

    .navbar-logo.logo-large {
        display: block;
    }
    
    .navbar-logo.logo-mark {
        display: none;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        background-color: yellow;
    }
}

/* UKuran HP */
@media only screen and (max-width: 600px) {
    body {
        background-color: blue;
    }
}